.DS_store
.idea
*.pdf
*.png
! static/Overleaf/images/Results/run3/dress1_2-x8-run3-Overview.png
!/static/Overleaf/images/Results/run3/dress2_3-x8-run3-Overview.png
!/static/Overleaf/images/Results/run3/dress3_18-x8-run3-Overview.png
!/static/Overleaf/images/Results/run3/dress1_2-x8-run3-Overview.png
!/static/Overleaf/images/Results/run3/dress2_3-x8-run3-Overview.png
!/static/Overleaf/images/Results/run3/dress3_18-x8-run3-Overview.png
!/static/Overleaf/images/Results/run0/dress2_3-x1-run0-Watch.png
!/static/Overleaf/images/Results/run0/dress2_3-x1-run0-bag.png
!/static/Overleaf/images/Results/run0/dress2_3-x1-run0-shoe.png
!/static/Overleaf/images/Results/run0/dress2_3-x1-run0-Glasses.png
!/static/Overleaf/images/Results/run0/dress2_3-x1-run0-FaceGlasses.png
!/static/Overleaf/images/Results/run0/dress2_3-x1-run0-shoebagclock.png
!/static/Overleaf/images/Results/run0/dress3_18-x1-run0-bag.png
!/static/Overleaf/images/Results/run0/dress3_18-x1-run0-face.png
!/static/Overleaf/images/Results/run0/dress3_18-x1-run0-shoe.png
!/static/Overleaf/images/Results/run0/dress3_18-x1-run0-shoes.png
!/static/Overleaf/images/Results/run0/dress1_2-x1-run0-Writing.png
!/static/Overleaf/images/Results/run3/dress3_18-x1-run3-shoes.png
!/static/Overleaf/images/Results/run3/dress2_3-x1-run3-BagShoes.png
!/static/Overleaf/images/Results/run3/dress1_2-x1-run3-Shoes.png
!/static/Overleaf/images/Results/run3/dress3_18-x1-run3-Bag.png
!/static/Overleaf/images/Results/run3/dress1_2-x1-run3-Shoe.png
!/static/Overleaf/images/Results/run3/dress1_2-x1-run3-HandRing.png
!/static/Overleaf/images/Results/run3/dress2_3-x1-run3-FaceSunglasses.png
!/static/Overleaf/images/Results/run3/dress2_3-x1-run3-Bag.png
!/static/Overleaf/images/Results/run6/dress2_3-x1-run6-shoe.png
!/static/Overleaf/images/Results/run6/dress1_2-x1-run6-HandRing.png
!/static/Overleaf/images/Results/run6/dress3_18-x1-run6-BagHand.png
!/static/Overleaf/images/Results/run4/dress2_3-x1-run4-SunglassesTorso.png
!/static/Overleaf/images/Results/run4/dress3_18-x1-run4-Shoes.png
!/static/Overleaf/images/Results/run4/dress1_2-x1-run4-HandRing.png
!/static/Overleaf/images/Results/run4/dress2_3-x1-run4-Bag.png
!/static/Overleaf/images/Results/run2/dress2_3-x1-run2-Clock.png
!/static/Overleaf/images/Results/run2/dress1_2-x1-run2-Background.png
!/static/Overleaf/images/Results/run2/dress3_18-x1-run2-Shoes.png
!/static/Overleaf/images/Results/run2/dress2_3-x1-run2-Bag.png
!/static/Overleaf/images/Results/run2/dress3_18-x1-run2-Bag.png
